__pycache__

# Figures used in visualizing tests.
test/figures

# Figures used to evaluate runs
problems/figures

# Serialized torch tensors like vandermonde matrices. 
*.t

fenics_output

test_data

models

*.png
